.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10%;
  background-color: rgb(35, 35, 35);
}
.controllers {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4rem;
  margin: 0;
  color: white;
}
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 200%;
  border: unset;
  outline: unset;
  border-radius: 0.125rem;
  background-color: lightgray;
  transition: all 0.3s;
}
.button:hover {
  background-color: white;
}
